<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
  <body>

    <header-fragment>
      <title>Cosmic Push</title>

      <script th:src="${contextRoot}+'/static/js/jquery-1.8.2.min.js'" type="text/javascript"></script>
      <script th:src="${contextRoot}+'/static/js/jquery-cookie.js'" type="text/javascript"></script>

      <script th:src="${contextRoot}+'/static/js/jquery-ui-1.9.0.min.js'" type="text/javascript"></script>
      <link th:href="${contextRoot}+'/static/css/jquery-ui-1.9.0.min.css'" rel="stylesheet" type="text/css"/>

      <link th:href="${contextRoot}+'/favicon.ico'" rel="shortcut icon" type="image/x-icon"/>

      <link th:href="${contextRoot}+'/cosmic-push.css'" rel="stylesheet"/>
      <script th:src="${contextRoot}+'/cosmic-push.js'"></script>
    </header-fragment>

  </body>
</html>